name: Update Repository Links
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  update-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - uses: iamvikshan/link-updater@v1.2.3
        with:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
